<section class="nested-select">
  <div v-for="(select, selectIndex) in selects" :key="count">
    <label v-bind:for="'nested-select-' + selectIndex">{{ select.selectLabel }}</label>
    <select v-bind:name="'nested-select-' + selectIndex" v-bind:id="'nested-select-' + selectIndex"
      v-model="select.selected" @change="selectChanged(select.options[select.selected - 1], selectIndex)"
      :required="required">
      <option v-for="option in select.options" v-bind:value="option[select.prop]">
        {{ option[select.label] }}
      </option>
    </select>
  </div>
</section>